include "binds.kdl"
include "rules.kdl"
include "animations.kdl"
include "input.kdl"
include "keymap.kdl"

include "dms/cursor.kdl"
include "dms/wpblur.kdl"
include "dms/alttab.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"
