input {
    keyboard {
        xkb {
            layout "gb"
            // layout "es"
            options "compose:rctrl,ctrl:nocaps"
        }
        numlock
    }

    touchpad {
        tap
        // dwt
        // drag false
        // drag-lock
        natural-scroll
    }

    touch {
        // off
    }

    mouse {
        accel-profile "adaptive"
    }

    focus-follows-mouse max-scroll-amount="50%"
}

clipboard {
    disable-primary
}
