input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        // dwt
        // drag false
        // drag-lock
        natural-scroll
    }

    touch {
        // off  // Turns off the touch screen
    }

    mouse {
        accel-profile "adaptive"
    }

    focus-follows-mouse max-scroll-amount="50%"
}

clipboard {
    disable-primary
}
