// xwayland-satellite Theme fixes
spawn-at-startup "xrdb" "-merge" "~/.Xresources"
spawn-at-startup "wl-clip-persist" "--clipboard" "regular"

// Chats
spawn-sh-at-startup "flatpak run dev.vencord.Vesktop --enable-blink-features=MiddleClickAutoscroll"

// Utils
spawn-sh-at-startup "ddcutil -d 1 setvcp 10 100"

// Shell
spawn-at-startup "vibepanel"
spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "-n" "overview"
