@define-color window_bg_color #2a322c;
@define-color window_fg_color #e2e3df;

@define-color view_bg_color #364b3e;
@define-color view_fg_color #e2e3df;

@define-color success_color #a4cddc;
@define-color success_bg_color #224b59;
@define-color success_fg_color #bfe8f9;

@define-color warning_color #ffc252;
@define-color warning_bg_color #cd9309;
@define-color warning_fg_color #000000;

@define-color destructive_color #ffb4a9;
@define-color destructive_bg_color #930005;
@define-color destructive_fg_color #680003;

@define-color error_color #ffb4a9;
@define-color error_bg_color #930005;
@define-color errow_fg_color #680003;

@define-color headerbar_bg_color #2a322c;
@define-color headerbar_fg_color #e2e3df;

@define-color popover_bg_color #364b3e;
@define-color popover_fg_color #e2e3df;

@define-color dialog_bg_color #364b3e;
@define-color dialog_fg_color #e2e3df;

@define-color card_bg_color #2e3a32;
@define-color card_fg_color #d0e9d7;

@define-color sidebar_bg_color #2a322c;
@define-color sidebar_fg_color #e2e3df;
@define-color sidebar_backdrop_color #364b3e;
@define-color sidebar_border_color #2e3a32;

@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_border_color @sidebar_border_color;

@define-color blue_1 #99c1f1;
@define-color blue_2 #62a0ea;
@define-color green_1 #8ff0a4;
@define-color yellow_1 #f9f06b;
@define-color red_1 #f66151;
@define-color purple_1 #dc8add;
@define-color purple_2 #c061cb;
@define-color orange_1 #ffbe6f;
@define-color brown_1 #cdab8f;
@define-color light_1 #ffffff;
@define-color light_5 #9a9996;
@define-color dark_1 #77767b;

@define-color accent_color #74daa4;
@define-color accent_bg_color #74daa4;
@define-color accent_fg_color #003921;

toast {
  background-color: #2a322c;
  color: #e2e3df;
}

toggle:checked {
  background-color: #2e3a32;
  color: #e2e3df;
}

/* Enter any extra CSS here */
