/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #004f50 !important;
  --toolbarbutton-icon-fill: #00dcde !important;
  --toolbar-field-color: #d7e5e5 !important;
  --tab-selected-textcolor: #00dcde !important;
  --toolbar-color: #d7e5e5 !important;
  --arrowpanel-color: #d7e5e5 !important;
  --arrowpanel-background: #152222 !important;
  --sidebar-text-color: #d7e5e5 !important;
/*  --zen-main-browser-background: #091516 !important; */
}

.sidebar-placesTree {
  background-color: #152222 !important;
}

#zen-workspaces-button {
  background-color: #152222 !important;
}

#TabsToolbar {
  background-color: #091516 !important;
}

.urlbar-background {
  background-color: #152222 !important;
}

.urlbar-input::selection {
  color: #003737 !important;
  background-color: #00dcde !important;
}

.urlbarView-url {
  color: #bbc9c9 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #00dcde
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #55e9ea !important;
  --identity-icon-color: #55e9ea !important;
}

.identity-color-turquoise {
  --identity-tab-color: #00dcde !important;
  --identity-icon-color: #00dcde !important;
}

.identity-color-green {
  --identity-tab-color: #8ee086 !important;
  --identity-icon-color: #8ee086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8da97 !important;
  --identity-icon-color: #e8da97 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbca7b !important;
  --identity-icon-color: #dbca7b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f68 !important;
  --identity-icon-color: #e05f68 !important;
}

.identity-color-pink {
  --identity-tab-color: #2a8676 !important;
  --identity-icon-color: #2a8676 !important;
}

.identity-color-purple {
  --identity-tab-color: #21a5a6 !important;
  --identity-icon-color: #21a5a6 !important;
}

#zen-appcontent-navbar-container {
  background-color: #091516 !important;
}
